/* Xcursor.theme: gentoo */
Xcursor.theme: ComixCursors-White
Xcursor.size: 48


Xft.dpi: 108
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!         Xterm        !!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
XTerm*renderFont: true
XTerm*faceName: xft:mononoki Nerd Font Mono
XTerm*faceSize: 12
XTerm*utf8: 2
XTerm*locale: true
XTerm*loginshell: true
XTerm*savelines: 16384


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!         URxvt        !!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
URxvt*imLocale: en_CA.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:CaskaydiaCove Nerd Font Mono
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorUnderline: true
URxvt.cursorBlink: true

! Extensions
URxvt.perl-ext-common: default,clipboard
URxvt.url-select.launcher:  /usr/bin/firefox
URxvt.clipboard.autocopy: true

#include ".Xresources.d/gruvbox"
